input[type=text], input[type=password] {
	width:60%;
}

input[type=submit] {
	width:34%;
}
#messages {
	margin-top:20px;
	text-align: center;
}
.form-horizontal {
	float: none;
	margin: 0 auto;
}

#register, #login, h1 {
	margin-left: 10px;
}