<html>
<head>
        <!-- <link rel="stylesheet" type="text/css" href="static/css/walls.css"> -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <a href="/show">Home</a><a href="/addbook">Add book and review</a><a href="/logout">Logout</a>
        <h3>User Alias:{{user_info['alias']}}</h3>
        <h4>Name: {{user_info['name']}}</h4>
        <h4>Email:{{user_info['email']}}</h4>
        <h4>Total Reviews: {{total_reviews['total_reviews']}}</h4>

        <p> Posted Reviews on the following books:</p>
        {% for reviews in review_titles %}
            <p> <a href="/book/{{reviews['id']}}">{{reviews['title']}}</a> </p>
        {% endfor %}
    </body>
</html>